extends layout

block content

  div#main.flexitem-fluid.autocolor(role="main")   
    section.dyn(datasource="/api/sensor", refresh="10000")
      h2 Current temperatures : 

      table
        thead
          tr
            th sensor id
            th temperature
        tbody
          each val,index in sensor
            tr
              td= index
              td.dyn(field=index)= val

    section.dyn(datasource="/api/heater", refresh="10000")
      h2 Heater status :

      script.
        //a general purpose "action" function would be better but…
        function heater_update(id, pins, mode){
          var data = {"id":id, "pins":pins, "mode":mode};
          var datasource="/api/heater";
          $.ajax({
            url:datasource,
            type:"POST",
            contentType:"application/json",
            dataType:"json",
            data:JSON.stringify(data)
          });
        }

      table
        thead
          tr
            th heater id
            th alias
            th mode
            th action
        tbody
          each val, index in heater
            tr
              td= index
              td.dyn(field=index+".name")= val.name
              td.dyn(field=index+".mode")= val.mode
              td(field=index+".pins")
                - var modes = ['on','eco','min','off']
                for m in modes
                  - var trigger = "heater_update('"+index +"',["+val.pins+"],'"+m+"');"
                  button(onclick=trigger)= m




